.row{
    display: flex;
    justify-content: space-around;
    
} 
.first{
    width: 35%;
}
.first img{
    width: 11rem;
 
}
.first p{
    width: 20rem;
} 
ul{
    padding:0;
} 
.footer-last{
    padding: 1rem; 
    text-align: center;
}
