.row-hero{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items:center ; 
   
} 
.img-hero{
    width: 50%;
    height: auto; 
    margin-left: 25rem;
    margin-right: 10rem;
    border-radius: "20%";
    height: 325px;
} 
.col-hero{
    font-family: 'Oswald', sans-serif; 
    font-size: 25px;
  
}