.logo{
    width: 15rem;
   

} 
.row-navbar{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
   


}
.nav-items{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    
    
} 
.nav-items div{
padding-left: 1rem;
}