.tag-card{
    background-color: white;
    width: 15rem;
    height: 10rem;
} 

.tag-container{
    padding: 1rem;  
    word-wrap: break-word;
} 
.tag-card span{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    background-color:#e1e7e5 ;
}